#wrapper{
    width: 60%;
    height: auto;
    margin: 0 auto;
    padding: 20px 0px 20px 0px;
}

fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;

}
.left{
    float: left;
}
.right{
    float: right;
}

.control-group label{
    display: inline-block;
    width: 140px;
    text-align: right;
}

.navbar-inverse {

    background-image: url("../images/bitclassroom.jpg");
    border-color: transparent;
    background-size: cover !important;
    width: 100% !important;

    background-position: center;
    min-height: 250px;
}

.navbar-toggle {
    background-color: #F0677C;
    border: 1px solid #fff;

}

.navbar {
    margin-bottom: 0px;
}